{% extends "layouts/base.html" %}

{% block content %}
  <h1>{{ event.name }}</h1>
  <p>{{ event.location }}</p>
  <br>
  <p><strong>Date: </strong>{{ event.start_datetime|date:"d.m.Y, l" }}</p>
  <p><strong>Time: </strong>{{ event.start_datetime|date:"H:i" }}</p>
  <p><strong>Description: </strong>{{ event.description|linebreaks }}</p>
  {% if runner == user or user.is_staff %}
    {% now "Y-m-d H:i:s" as current_time %}
    {% if event.start_datetime|date:"Y-m-d H:i:s" > current_time %}
      <td>
        <a href="{% url 'event:registration_create' event_id=event.id %}" class="btn btn-primary">registration</a>
      </td>
    {% else %}
      <h3>The event has passed</h3>
    {% endif %}
  {% endif %}
  {% if runner.is_staff %}
    <a href="{% url "event:event_update" pk=event.id %}" class="btn btn-primary mr-5">Update</a>
    <a href="{% url "event:event_delete" pk=event.id %}" class="btn btn-danger">Delete</a>
  {% endif %}
{% endblock %}
