{% extends "base.html" %}
{% block content %}
  <body>
    <table>
      <thead>
      <tr>
        <th>Date race</th>
        <th>Name race</th>
        <th>Location</th>
        <th>Description</th>
        <th>Participants</th>
      </tr>
      </thead>
      <tbody>
      {% for event in events %}
        <tr>
          <td>{{ event.date }}</td>
          <td>{{ event.name }}</td>
          <td>{{ event.location }}</td>
          <td>{{ event.description }}</td>
          <td><a href="#">join to event</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </body>
{% endblock %}