{% extends "layouts/base.html" %}
{% block content %}
<h1>My registrations</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>№</th>
        <th>Date</th>
        <th>Name registration</th>
        <th>Distance</th>
        <th>Location</th>
        {% if runner == user or user.is_staff %}
          <th>Update</th>
          <th>Delete</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for registration in registrations %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ registration.event.start_datetime|date:"d.m.Y, H:i" }}</td>
          <td>
            <a href="{% url 'event:event_detail' pk=registration.event.pk %}" class="btn btn-outline-gray-800 btn-custom-width">
              {{ registration.event.name }}
            </a>
          </td>
          <td>{{ registration.distances }} км</td>
          <td>{{ registration.event.location }}</td>
          {% if runner == user or user.is_staff %}
            <th><a href="{% url 'event:registration_update' registration.id %}" class="btn btn-primary">Update</a></th>
            <th><a href="{% url 'event:registration_delete' registration.id %}" class="btn btn-danger">Delete</a></th>
          {% endif %}
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">You are not registered for any events.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

