{% extends "base.html" %}

{% block content %}
  <h1>{{ runner.first_name }} {{ runner.last_name }}</h1>
  <p><strong>username: </strong>{{ runner.username }}</p>
  <p><strong>date of birth: </strong>{{ runner.date_of_birth|date:"d.m.Y" }}</p>
  {% if runner.phone_number %}
    <p><strong>Phone number: </strong>{{ runner.phone_number }}</p>
    <a href="{% url "event:runner_update" pk=runner.id %}" class="btn btn-primary mr-5">Update</a>
    <a href="{% url "event:runner_delete" pk=runner.id %}" class="btn btn-danger">Delete</a>
  {% endif %}
{% endblock %}
