.venv
.idea
__pycache__
db.sqlite3
.flake8
*.log
*.pyc
.idea/
.vscode/
*.egg-info/
pip-wheel-metadata/
media/
.env
settings_local.py
python-skeletons/
lib-dynload/
python3.11/
site-packages/
db/
extensions/
static/
