<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item"><a href="{% url 'events:runner_detail' user.pk %}">User: {{ user.username }}</a></li>
    <li class="list-group-item">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" style="background: none; border: none; color: blue; cursor: pointer;">
          Logout
        </button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item">
      <a href="{% url 'login' %}">Login</a>
    </li>
  {% endif %}
  <br>
  <li class="list-group-item">
    <a href="{% url 'event:index' %}">Home</a>
  </li>
  <li class="list-group-item">
    <a href="#">Running</a>
  </li>
  <li class="list-group-item">
    <a href="#">Cycling</a>
  </li>
  <li class="list-group-item">
    <a href="#">Swimming</a>
  </li>
  <li class="list-group-item">
    <a href="#">Our contacts</a>
  </li>
</ul>
