<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item"><a href="{% url 'events:runner_detail' user.pk %}" class="text-dark font-weight-bold">Profile {{ user.last_name }} {{ user.first_name }}</a></li>
    <li class="list-group-item bg-light">
      <a href="{% url 'event:registration_list' %}" class="text-dark font-weight-bold">My registrations</a>
    </li>
    <li class="list-group-item">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="text-dark font-weight-bold">
          Logout
        </button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item">
      <a href="{% url 'login' %}">Login</a>
    </li>
  {% endif %}
  <br>
  <li class="list-group-item">
    <a href="{% url 'event:index' %}">Home</a>
  </li>
  <li class="list-group-item">
    <a href="#">Running</a>
  </li>
  <li class="list-group-item">
    <a href="#">Cycling</a>
  </li>
  <li class="list-group-item">
    <a href="#">Swimming</a>
  </li>
</ul>
