<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
  <li class="sidebar-inner px-4 pt-3">
    <ul class="nav flex-column pt-3 pt-md-0">
      <li class="nav-item active">
        {% if user.is_authenticated %}
          <a href="{% url 'event:runner_detail' user.pk %}" class="nav-link">
            <span class="sidebar-text">
              Profile
              {% if user.is_staff %}
                admin
              {% endif %}
              {{ user.last_name }} {{ user.first_name }}
            </span>
          </a>
        {% endif %}
      </li>
      <li class="nav-item active">
        <a href="{% url 'event:runner_list' %}" class="nav-link">
          <span class="sidebar-icon">
              <svg class="icon icon-md me-2" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M14 13.41V22h-4v-8.59c-2.65-.5-4.68-2.88-4.68-5.81 0-3.31 2.69-6 6-6s6 2.69 6 6c0 2.93-2.03 5.31-4.68 5.81zM12 6c-2.21 0-4 1.79-4 4 0 2.21 1.79 4 4 4s4-1.79 4-4c0-2.21-1.79-4-4-4z"></path>
              </svg>
          </span>
          <span class="sidebar-text">Community</span>
        </a>
      </li>
      <li class="nav-item active">
        {% if user.registrations.exists %}
          <a href="{% url 'event:my_registrations_list' %}" class="nav-link">
            <span class="sidebar-icon">
                <svg class="icon icon-sm me-2" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 9a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 13a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                </svg>
            </span>
            <span class="sidebar-text">My registrations</span>
          </a>
        {% else %}
          <span>No registrations available</span>
        {% endif %}
      </li>
      
      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>

      <li class="nav-item active">
        <span
          class="nav-link  collapsed  d-flex justify-content-between align-items-center"
          data-bs-toggle="collapse" data-bs-target="#submenu-app">
          <span>
            <span class="sidebar-icon">
              <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
            </span>
            <span class="sidebar-text">Upcoming events</span>
          </span>
          <span class="link-arrow">
            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </span>
        </span>
        <div class="multi-level collapse show"
          role="list" id="submenu-app" aria-expanded="false">
          <ul class="flex-column nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'event:index' %}?event_type=Running&is_active=True">
                <span class="sidebar-text">Running events</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'event:index' %}?event_type=Cycling&is_active=True">
                <span class="sidebar-text">Cycling events</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'event:index' %}?event_type=Swimming&is_active=True">
                <span class="sidebar-text">Swimming events</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      
      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'event:archive_list'%}">
            <span class="sidebar-icon">
                <svg class="icon icon-sm me-2" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M7 3a1 1 0 011-1h4a1 1 0 011 1v2H7V3zm-2 3a1 1 0 011-1h10a1 1 0 011 1v10a1 1 0 01-1 1H6a1 1 0 01-1-1V6zm12 2H6v10h10V8z" clip-rule="evenodd"></path>
                </svg>
            </span>
            <span class="sidebar-text">Archive</span>
          </a>
      </li>
    
      <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
      {% if user.is_authenticated %}
        <li class="nav-item active">
          <form method="post" action="{% url 'logout' %}" class="d-flex align-items-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-sm w-100 text-start">
              <span class="sidebar-icon">
                <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 17l4-4m0 0l-4-4m4 4H7"></path>
                </svg>
              </span>
              Logout
            </button>
          </form>
        </li>
      {% else %}
        <li class="nav-item active">
          <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login</a>
          <a href="{% url 'event:register_runner' %}" class="btn btn-primary">Register</a>
        </li>
    {% endif %}
    </ul>
  </div>
</nav>
